*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    color: white;
    background-color: #081b31;
    line-height: 5rem;
    height: 80px;
    width: 100%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.choice{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choice :hover{
    opacity: 0.5;
    cursor: pointer;
    color: #081b31;
}



.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 5rem;
}

#user-score , #comp-score{
   font-size: 4rem;
}

.msg-con{
    margin-top: 5rem;
}

#msg{
    font-size: 2rem;
    background-color: #081b31;
    color: white;
    padding: 1rem;
    display: inline;
    border-radius: 1rem;
}